.style_header__ZRQhb {
    position: fixed;
    display: flex;
    width: -moz-fit-content;
    width: fit-content;
    right: 2%;
    top: 3%;
    padding: 10px;
    box-sizing: border-box;
    mix-blend-mode: difference;
    z-index: 1
}

.style_header__ZRQhb .style_burger__chxHD {
    position: relative;
    display: flex;
    align-items: center;
    padding: 30px;
    pointer-events: none;
    color: #fff
}

.style_header__ZRQhb .style_burger__chxHD .style_text__6Et_a {
    position: absolute;
    right: 10px;
    font-weight: 300;
    transition: opacity .3s ease, transform .3s ease;
    pointer-events: none
}

.style_header__ZRQhb .style_burger__chxHD .style_menu__3tNzQ {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
    mix-blend-mode: difference
}

.style_header__ZRQhb .style_burger__chxHD .style_close__kLHSK {
    opacity: 0;
    transform: translateY(-20px);
    visibility: hidden;
    mix-blend-mode: difference
}

.style_header__ZRQhb .style_burger__chxHD.style_active__P3crq .style_menu__3tNzQ {
    opacity: 0;
    transform: translateY(20px);
    visibility: hidden
}

.style_header__ZRQhb .style_burger__chxHD.style_active__P3crq .style_close__kLHSK {
    opacity: 1;
    transform: translateY(0);
    visibility: visible
}

.style_header__ZRQhb .style_bounds__Qabmx {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: all
}

.style_header__ZRQhb .style_bounds__Qabmx:hover {
    transform: scale(8);
    color: #fff
}

.style_cursor__1gLJs {
    position: fixed;
    width: 15px;
    height: 15px;
    background-color: #4c00ff;
    border-radius: 50%;
    pointer-events: none
}

@media(max-width:768px) {
    .style_cursor__1gLJs {
        opacity: 0
    }
}

.style_header__VzC4L {
    position: fixed;
    display: flex;
    width: 0;
    justify-content: flex-end;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
    color: #000;
    z-index: 1
}

.style_header__VzC4L .style_burger__5uoPm {
    position: relative;
    display: flex;
    gap: 8px;
    flex-direction: column;
    padding: 30px;
    pointer-events: none;
    color: #000
}

.style_header__VzC4L .style_bounds__lqEAW {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: all
}

.style_header__VzC4L .style_bounds__lqEAW:hover {
    transform: scale(3);
    color: transparent
}

.styles_svgCurve__P7K6h {
    position: absolute;
    top: 0;
    left: -99px;
    width: 100px;
    height: 100%;
    fill: rgba(76, 0, 255, .315);
    stroke: none
}

.style_menu__Oumh3 {
    height: 100vh;
    background-color: #4c00ff;
    position: fixed;
    right: 0;
    top: 0;
    color: #fff
}

.style_menu__Oumh3 .style_body__vAuIc {
    box-sizing: border-box;
    height: 100%;
    width: 25vw;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.style_menu__Oumh3 .style_body__vAuIc .style_nav__iO7J9 {
    display: flex;
    flex-direction: column;
    font-size: 56px;
    gap: 12px;
    width: 25vw;
    margin-top: 80px
}

.style_menu__Oumh3 .style_body__vAuIc .style_nav__iO7J9 .style_header__Yu2e7 {
    color: #999;
    border-bottom: 1px solid #999;
    text-transform: uppercase;
    font-size: 11px;
    margin-bottom: 40px
}

.style_menu__Oumh3 .style_body__vAuIc .style_nav__iO7J9 a {
    text-decoration: none;
    color: #fff;
    font-weight: 300
}

@media(max-width:768px) {
    .style_menu__Oumh3 .style_body__vAuIc {
        width: 100vw;
        display: flex;
        align-items: center
    }

    .style_menu__Oumh3 .style_body__vAuIc .style_nav__iO7J9 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        padding: 20px;
        margin-left: 0
    }

    .style_menu__Oumh3 .style_body__vAuIc .style_nav__iO7J9 .style_header__Yu2e7 {
        color: #999;
        display: flex;
        justify-content: center;
        width: 80%;
        border-bottom: 1px solid #999;
        text-transform: uppercase;
        font-size: 11px;
        margin-bottom: 40px
    }
}

.page_main__akH3E {
    height: 10vh;
    background-color: #fff
}
